<div class="accordion-header bg-dark">
  <span class="m-0 align-middle">
    <div id="header-projects-link" class="header-link-button" >
      <%= image_tag "playbook.png", :width => "20px",
                  alt: t('alt.el-icon', el: t('model.playbook')).humanize %>
      <span class="align-middle"><%= t('view.filternav.playbooks') %></span>
    </div>
    <%
      counter = filter_count('playbooks')
      if counter > 0
        concat "<span id='accordian-playbooks-count' class='badge badge-light'>#{counter}</span>".html_safe
      else
        concat "<span id='accordian-playbooks-count' class='badge badge-light'></span>".html_safe
      end
    %>
    <i class="fa fa-angle-down float-right text-muted"></i>
  </span>
</div>
<div class="accordion-body p-0 bg-dark">
  <div class="row">
    <div id="clear-playbooks" class="col-12 small clear-all">
      <a class="float-right" href="#"><%= t('view.filternav.clear') %></a>
    </div>
  </div>
  <div class="row p-1 mt-1">
    <div class="col-12">
      <div class="form-group mb-1">
        <input type="text" id="playbooks" class="form-control filter-element"
          placeholder="<%= t('view.multi-select.assigned.label', model: t('model.playbook').to_s.pluralize) %>" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 badges"></div>
  </div>
</div>