<% if @maturity_rubric.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @maturity_rubric.errors.count) %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.create', model: t('model.maturity-rubric')) %>
</div>
<%= render 'form', maturity_rubric: @maturity_rubric %>
