
<ul class="multi-hex-grid">
  <% 21.times do %>
    <li class="multi-hex">
      <div class="multi-hex-in">
        <a class="multi-hex-link" href="#" data-toggle="tooltip" data-html="true"
           title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
          <img src="" alt="" />
          <h3>This is a title</h3>
          <p>Some sample text about the article this hexagon leads to</p>
        </a>
      </div>
    </li>
  <% end %>
</ul>
