<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>AUTH_TOKEN</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ORG_ID</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PROVIDER</name>
          <description></description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.10.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/apache/fineract</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

docker-compose -v && docker-machine -v

MACHINE_NAME=$ORG_ID"-mifos"
 
# set-up: clean up any previous machine failures
docker-machine stop $MACHINE_NAME || {
  docker-machine rm -y $MACHINE_NAME || echo "Nothing to destroy"
  echo "creating new container"
  
  docker-machine create --driver digitalocean --digitalocean-access-token $AUTH_TOKEN --digitalocean-size 4gb --digitalocean-tags t4dlaunched $MACHINE_NAME
  #docker-machine create --driver amazonec2 --amazonec2-access-key $AUTH_TOKEN --amazonec2-secret-key $SECRET_KEY $MACHINE_NAME
}
 
# use docker-machine to create and configure 'test' environment
# add a -D (debug) if having issues
docker-machine start $MACHINE_NAME || echo "container started"


eval $(docker-machine env --shell sh $MACHINE_NAME)
 
# build

docker-compose build

docker-compose up -d

docker-machine scp -r fineract-db $MACHINE_NAME:/var/jenkins_home/workspace/mifos

git clone https://github.com/openMF/community-app.git
cd community-app
docker build -t mifos-community-app .
cd ..
rm -rf community-app
docker run --name mifos-ui -it -d -p 80:80 mifos-community-app

sleep 30s

# The last line of the build output should always be the docker-machine IP
# This will be used by the T4D app to give the user a link

echo "mifos instance"
docker-machine ip $MACHINE_NAME</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>