
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.create', model: t('model.operator_services')) %>
</h5>
<%= render 'newform', operator_service: @operator_service %>
