<li class="list-group-item w-100 text-center bg-transparent">
  <%= link_to playbooks_path do %>
    <%
      btn_class = 'btn-secondary'
      if current_page?(:controller => 'playbooks', :action => 'index')
        btn_class = 'btn-warning'
      end
    %>
    <span class="w-100 btn <%= btn_class %>">
      <%= image_tag "playbook.png", :width => "20px" %>
      <span class="d-none d-lg-inline-block">
        <%= t('model.playbook').titlecase.pluralize %>
      </span>
      <span id="playbook-badge" class="badge badge-light">--</span>
    </span>
  <% end %>
</li>
