<li class="list-group-item w-100 text-center bg-transparent">
  <%= link_to products_path do %>
    <% if current_page?(:controller => 'products', :action => 'index') %>
      <span class="w-100 btn btn-warning"><%= t('model.product').titlecase.pluralize %>
    <% else %>
      <span class="w-100 btn btn-secondary"><%= t('model.product').titlecase.pluralize %>
    <% end %>
    <span id="product-badge" class="badge badge-light">--</span>
    </span>
  <% end %>
</li>
