<li class="list-group-item w-100 text-center bg-transparent">
  <%= link_to use_cases_path do %>
    <% if current_page?(:controller => 'use_cases', :action => 'index') %>
      <span class="w-100 btn btn-warning"><%= t('model.use-case').titlecase.pluralize %>
    <% else %>
      <span class="w-100 btn btn-secondary"><%= t('model.use-case').titlecase.pluralize %>
    <% end %>
    <span id="use-case-badge" class="badge badge-light">--</span>
    </span>
  <% end %>
</li>
