<% if @task.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @task.errors.count) %>
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.create', model: t('model.task')) %>
</h5>
<%= render 'form', task: @task %>
