<% if @use_case.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @use_case.errors.count) %>
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.edit', model: t('model.use-case')) %>
</h5>
<%= render 'form', use_case: @use_case %>
