<p id="notice"><%= notice %></p>

<div id="deployList">
  <%= render partial: "list" %>
</div>

<script>
$(document).ready(function () {
  setInterval(refreshScreen, 30000)
});

function refreshScreen() {
  $.ajax({
    url: "deploys_refresh_list"
 })
}
</script>