<div class="card">
  <h5 class="card-header bg-secondary text-white">
    Deploy: <%= @deploy.instance_name %>
  </h5>
  <div class="card-body">
    <div class="card-subtitle text-muted mb-2">
      <% @messages.each do |message| %>
        <p><%= message.to_s.force_encoding("UTF-8") %></p>
      <% end %>
    </div>
  </div>
</div>

