<% if @sector.errors.any? %>
  <div id="error_explanation">
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains
        <%= pluralize(@sector.errors.count, "error") %>.
      </div>
    </div>
  </div>
<% end %>
<div class="card">
  <h5 class="card-header">
    Edit sector
  </h5>
  <%= render 'form', sector: @sector %>
</div>
