<div class="hex">
  <div class="hex-container">
    <a class="hex-link" href="#">
      <img src="" alt="" />
      <h1>This is a title</h1>
      <p>Some sample text about the article this hexagon leads to</p>
    </a>
  </div>
</div>
