
<div id="active-filter" class="row">
  <div class="col-9">
    <ul class="list-group ml-3">
      <% all_filters.each do |filter| %>
        <% if session.key? filter %>
          <% @filters_exist = true %>
          <li id="<%= filter %>" class="list-group-item">
            <%= format_filter(filter) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-3">
    <% if @filters_exist %>
    <a id="share-link" href="#" class="float-right" data-toggle="tooltip" data-placement="bottom" data-original-title="<%= t('view.active-filter.share-link-tooltip') %>"><%= t('view.active-filter.share-link') %></a>
    <div class="float-right"></div>
    <% end %>
  </div>
</div>