<div id="active-filter" class="row">
  <div class="col-9 ml-3">
    <ul class="list-group">
      <li id="active-filter-template" class="list-group-item">
        <span class="close-icon" data-effect="fadeOut">
          <i class="fa fa-times text-danger"></i>
        </span>
      </li>
    </ul>
  </div>
</div>