<footer id="footer">
  <ul class="icons sponsors">
    <li class="description">
      <a href="https://digitalimpactalliance.org">The Digital Impact Alliance</a>
      is a partnership amongst some of the world’s most active digital development champions. We are grateful for the support of our Founding Partners.</li>
    <li><%= image_tag "unf-logo.png", :alt => "United Nations Foundation" %></li>
    <li><%= image_tag "bill-n-melinda-logo.png", :alt => "Bill and Melinda Gates Foundation" %></li>
    <li><%= image_tag "sweden-logo.png", :alt => "Swedish International Development Cooperation Agency" %></li>
    <li><%= image_tag "usaid-logo.png", :alt => "USAID" %></li>
  </ul>
  <ul class="icons">
    <li>
      <a target="_blank" href="https://twitter.com/DIAL_Community" class="icon fab fa-twitter">
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://facebook.com/DigitalImpactAlliance" class="icon fab fa-facebook">
        <span class="label">Facebook</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/dial_community" class="icon fab fa-instagram">
        <span class="label">Instagram</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://digitalimpactalliance.org/contact-us/ict4sdg/" class="icon fas fa-envelope">
        <span class="label">E-mail</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://forum.osc.dial.community" class="icon fab fa-forumbee">
        <span class="label">Forum</span>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>© 2019 Digital Impact Alliance</li>
    <li>
      <a href="http://www.digitalimpactalliance.org/privacy-policy/">Privacy policy</a>
    </li>
  </ul>
</footer>
