<div id="footer-outer" data-turbolinks-permanent>
  <div id="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col widget">
          <div>
            <h4>Address</h4>
            <div>
              <address>
                <strong>United Nations Foundation</strong><br/>
                1750 Pennsylvania Avenue NW<br/>
                Suite 300<br/>
                Washington, D.C. 20006<br/>
                United States of America
              </address>
            </div>
          </div>
        </div>
        <div class="col widget">
          <div>
            <h4>Contact</h4>
            <div>
              Telephone: +1.202.887.9040<br/>
              Email:
              <a href="mailto:info@digitalimpactalliance.org" target="_top">info@digitalimpactalliance.org</a><br/>
              Twitter:
              <a href="https://twitter.com/DIAL_community">@DIAL_Community</a><br/>
              Facebook:
              <a href="https://www.facebook.com/DigitalImpactAlliance/" _top"=" ">DigitalImpactAlliance</a><br/>
              Instagram:
              <a href="https://www.instagram.com/dial_community/">@dial_community</a><br />
            </div>
          </div>
        </div>
        <div class="col widget">
          <div>
            <h4>Newsletter sign-up</h4>
            <div>
              <a href="https://digitalimpactalliance.org/contact/">Sign up for our newsletter</a>
              to learn more about DIAL and how you can be involved.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="copyright">
    <div class="container">
      <div class="col">
        <p>© 2019 DIAL. Digital Impact Alliance.
          <a href="http://www.digitalimpactalliance.org/privacy-policy/">Privacy policy</a>
        </p>
      </div>
    </div>
  </div>
</div>
