<%
  # This fragment is used to display some marker if you have separate production and development server.
  # TODO: Customize this page to separate production and development server.
  production_server = 'registry.dial.community'
  if !Rails.application.config.action_mailer.default_url_options.nil? &&
    Rails.application.config.action_mailer.default_url_options[:host] != production_server
%>
<div class="alert alert-info mb-0 text-center" role="alert">
  You're viewing our development site. Our production site is: 
  <a class="text-primary" href='<%= "https://#{production_server}" %>' target="_blank">
    <%= "https://#{production_server}" %>
  </a>
</div>
<% end %>
