<script src="https://unpkg.com/grapesjs"></script>
<link rel="stylesheet" href="https://unpkg.com/grapesjs/dist/css/grapes.min.css" />

<style class="fr-view-style">
  <%= @page_contents.css.html_safe %>
</style>

<div class="fr-view">
  <%= @page_contents.html.html_safe %>
</div>

<script type="text/javascript">
  function disableOnHashLink() {
    $("a").each(function() {
      const href = $(this).attr("href");
      if (href && href.startsWith("#")) {
        $(this).attr("data-turbolinks", false);
      }
    })
  }
  $(document).on("turbolinks:load", disableOnHashLink);
</script>
