<div id="summary-nav" class="d-none d-lg-block row mb-2 bg-dark">
  <div class="col-12">
    <div class="list-group w-100 flex-fill list-group-horizontal bg-transparent">
      <% session[:portal]["top_navs"].each do |top_nav| %>
        <%= render "/shared/summary/#{top_nav}" %>
      <% end %>
    </div>
  </div>
</div>
