<% base_path = Rails.env.production? ? '/admin/' : '' %>
<li class="nav-item mt-2 px-2">
  <%= link_to t('view.header.sign-up-login'), base_path + new_user_session_path,
              class: 'nav-link unauth-item' %>
</li>
<li class="nav-item mt-2 px-2">
  <a target="_blank" rel="noreferrer noopener"
     href="https://docs.osc.dial.community/projects/product-registry/en/latest/"
     class="nav-link unauth-item">
    <%= t('view.header.documentation') %>
  </a>
</li>
