<li class="mt-2">
  <%= link_to t('view.header.about'), about_path,
              class: 'nav-link unauth-item' %>
</li>
<li class="mt-2">
  <%= link_to t('view.header.sign-up'), new_user_registration_path,
              class: 'nav-link unauth-item' %>
</li>
<li class="mt-2">
  <%= link_to t('view.header.login'), new_user_session_path,
              class: 'nav-link unauth-item' %>
</li>
<li class="mt-2">
  <a target="_blank" rel="noreferrer noopener"
     href="https://docs.osc.dial.community/projects/product-registry/en/latest/"
     class="nav-link unauth-item">
    <%= t('view.header.documentation') %>
  </a>
</li>
