<li class="mt-2">
  <strong><%= link_to t('view.header.sign-up'), new_user_registration_path, :class => 'nav-link' %></strong>
</li>
<li class="mt-2">
  <strong><%= link_to t('view.header.login'), new_user_session_path, :class => 'nav-link' %></strong>
</li>
<li class="mt-2">
  <a target="_blank" rel="noreferrer noopener" href="https://docs.osc.dial.community/projects/product-registry/en/latest/"
     class="nav-link">
    <strong><%= t('view.header.documentation') %></strong>
  </a>
</li>
<li class="mt-2">
  <strong>
    <%= link_to t('view.header.feedback'),
                'mailto:incoming+dial-t4d-product-backlog-product-registry-9056306-issue-@incoming.gitlab.com',
                target: '_blank', class: 'nav-link' %>
  </strong>
</li>