<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>AUTH_TOKEN</name>
          <description>Authorization token for Digital Ocean</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PROVIDER</name>
          <description>Cloud provider - AWS or DO</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ORG_ID</name>
          <description>Prefix used to identify org that is provisioning the machine</description>
          <defaultValue></defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.10.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/rapidpro/rapidpro-docker.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

docker -v &amp;&amp; docker-compose -v &amp;&amp; docker-machine -v

MACHINE_NAME=$ORG_ID&quot;-rapidpro&quot;
 
# set-up: clean up any previous machine failures
docker-machine stop $MACHINE_NAME || {
  docker-machine rm -y $MACHINE_NAME || echo &quot;Nothing to destroy&quot;
  echo &quot;creating new container&quot;
  
  docker-machine create --driver digitalocean --digitalocean-access-token $AUTH_TOKEN --digitalocean-size 4gb --digitalocean-tags t4dlaunched $MACHINE_NAME
  #docker-machine create --driver amazonec2 --amazonec2-access-key $AUTH_TOKEN --amazonec2-secret-key $SECRET_KEY $MACHINE_NAME
}
 
# use docker-machine to create and configure &apos;test&apos; environment
# add a -D (debug) if having issues
docker-machine start $MACHINE_NAME || echo &quot;container started&quot;

IPADDRESS=&quot;$(docker-machine ip $MACHINE_NAME)&quot;

sed -i &quot;s/DOMAIN_NAME=.*/DOMAIN_NAME=$IPADDRESS/&quot; docker-compose.yml
sed -i &quot;s/ALLOWED_HOSTS=.*/ALLOWED_HOSTS=$IPADDRESS/&quot; docker-compose.yml
sed -i &quot;s/TEMBA_HOST=.*/TEMBA_HOST=$IPADDRESS/&quot; docker-compose.yml

eval $(docker-machine env --shell sh $MACHINE_NAME)
 
# build
docker-compose pull
docker-compose build
docker-compose up -d

# The last line of the build output should always be the docker-machine IP
# This will be used by the T4D app to give the user a link

echo &quot;rapidpro instance&quot;
docker-machine ip $MACHINE_NAME</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>