<% if @contact.errors.any? %>
  <div id="error_explanation">
    <div id="error_explanation">
      <% if @contact.errors.include?(:duplicate) %>
        <div class="alert alert-warning">
          The form contains
          <%= pluralize(@contact.errors.count, "warning") %>.
        </div>
      <% else %>
        <div class="alert alert-danger">
          The form contains
          <%= pluralize(@contact.errors.count, "error") %>.
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="card">
  <h5 class="card-header">
    Create contact
  </h5>
  <%= render 'form', contact: @contact %>
</div>
