<% if @contact.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains
      <%= pluralize(@contact.errors.count, "error") %>.
    </div>
  </div>
<% end %>
<h5 class="form-header">
  Create contact
</h5>
<%= render 'form', contact: @contact %>
