<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="row">
  <div class="col-12">
    <div class="float-right">
      <% if user_signed_in? && policy(Project).mod_allowed? %>
        <%= link_to t('view.general.create'), new_project_path, :class => 'small mr-1' %>
      <% end %>
    </div>
  </div>
</div>

<div id="current-list">
  <div id="project-list" data-current-page="1" class="row">
    <%= render @projects %>
  </div>
</div>
