<div class="card">
  <h5 class="card-header bg-secondary text-white">
    <%= t('view.project.map.projects') %>
  </h5>
</div>
<div id="map-of-project" class="map" style="height:480px;"></div>
<div id="popup" class="map-popup"></div>

<div class="form-inline">
  <div class="form-group col-12">
    <div class="float-right">
      <select id="project-selector" class="custom-select">
        <option value=-1>
          <%= t('view.project.map.all-projects') %>
        </option>
      </select>
    </div>
  </div>
</div>


<script>
    mapOfProject.init();
</script>
