<% if @project.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @project.errors.count) %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3 original-font-size">
  <%= t('view.general.title.create', model: t('model.project')) %>
</div>
<%= render 'form', project: @project %>
