<% if @building_block.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @building_block.errors.count) %>
      <% @building_block.errors.each do |attr, err| %>
        <%= err %>
      <% end %>
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.edit', model: t('model.building-block')) %>
</h5>
<%= render 'form', building_block: @building_block %>
