<% if @building_block.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains
      <%= pluralize(@building_block.errors.count, "error") %>.
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
    Create building block
</h5>
<%= render 'form', building_block: @building_block %>
