<p class="text-danger"><%= flash[:error] %></p>
<% if @building_block.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @building_block.errors.count) %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3 original-font-size">
  <%= t('view.general.title.create', model: t('model.building-block')) %>
</div>
<%= render 'form', building_block: @building_block %>
