<% if @candidate_role.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @candidate_role.errors.count) %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.edit', model: t('model.candidate-role')) %>
</div>
<%= render 'form', candidate_role: @candidate_role %>
