/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body,
html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1;
  padding-bottom: 1rem;
}

.form-inline {
  .form-control {
    width: auto;
  }

  .form-group {
    display: inline-block;
  }
}

#notice {
  color: theme-color("success");
}

#search-form {
  input[type=text] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type=submit] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.map-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: -5rem;
  left: -3.1rem;
  min-width: 18rem;

  &:after, &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: white;
    border-width: 0.5rem;
    left: 3rem;
    margin-left: -0.5rem;
  }

  &:before {
    border-bottom-color: #cccccc;
    border-width: 0.5rem;
    left: 3rem;
    margin-left: -0.5rem;
  }
}

.card-deck {
  margin-bottom: 1rem;
}

.card-deck > .card {
  display:inline-block;
}

.card-placeholder {
  border: none;
}

.card-img-top {
  padding: 0.5rem;
}

.office-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 0.1rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
  bottom: -4rem;
  left: -9.1rem;
  min-width: 18rem;

  &:after, &:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: white;
    border-width: 0.5rem;
    left: 9rem;
    margin-left: -0.5rem;
  }

  &:before {
    border-bottom-color: #cccccc;
    border-width: 0.5rem;
    left: 9rem;
    margin-left: -0.5rem;
  }
}
