.commontator {
  margin-top: 0.5rem;

  .wysiwyg-editor {
    .ql-editor {
      padding: 12px 15px !important;
    }
  }

  .wysiwyg-viewer {
    .ql-editor {
      min-height: 2rem;
    }
  }

  .status {
    display: none;
  }

  a:hover {
    text-decoration: none !important;
  }

  .cke_top *, .cke_bottom * {
    padding: 3px 4px 1px !important;
  }

  .cke_toolbar_separator {
    padding: 0px !important;
  }

  .comment-list {
    .comment {
      border-top: #ddd 1px solid;
      border-left: #ddd 1px dashed;
      margin-bottom: 0;
      margin-top: 0.5rem;
      padding: 0.5rem;
      padding-bottom: 0;

      .pagination {
        margin: 0.25rem 0.5rem;
      }

      .will-paginate {
        margin: 0;
      }

      img {
        width: 1rem;
      }

      .author {
        color: #6c757d;
        font-size: 0.9rem !important;
        font-weight: 500;
      }

      .middle {
        color: #6c757d;
        font-size: 0.9rem !important;
      }

      .vote-count {
        font-size: 0.9rem !important;
      }
    }
  }
}