// Place all the styles related to the covid controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: #fbab18
}

#covid a {
  color: #fbab18 !important;
}

a#mobile, a#products {
  display: block;
  position: relative;
  top: -120px; 
  visibility: hidden;
}