#feedback, #feedback-side {
  position: fixed;
  right: 0;
  bottom: 0;

  .feedback-button, #minimize-feedback, #maximize-feedback {
    cursor: pointer;
  }
}

#feedback-overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  // Overlay will be the top most after survey
  background-color:#fff;
  opacity: 0.9;
  z-index: 9001;
}

#feedback-survey {
  position: fixed;
  right: 0;
  bottom: 0;
  // Survey will be the top most
  background-color: #fff;
  opacity: 0.9;
  z-index: 9002;
}

@media screen and (max-height: 800px) {
  #feedback-survey {
    // Scroll the survey if the window is smaller than the survey
    overflow: scroll;
    height: 100%;
  }
}

.survey-iframe {
  width: 640px;
  border: none;
  height: 800px;
}


@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .survey-iframe {
    width: 350px;
    border: none;
  }
}
