.ui-state-active {
    border: none;
    background: #f0f0f0;
    font-weight: normal;
    color: #6c757d;
}

.ui-state-default {
    background: #f0f0f0
}

.ui-state-focus { outline: none; }

.ui-state-active i {
    color:#6c757d;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@-moz-document url-prefix() {
  .checkbox-align {
    margin-top: 0 !important;
  }
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
  .selector:not(*:root), .checkbox-align {
    margin-top: 0.2rem !important;
  }
}