// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maturity-element {
  .list-group {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#digisquare-element {
  .dropdown-item {
    white-space: normal !important;
  }
  .dropdown-toggle {
    white-space: normal !important;
    text-align: left;
  }

  .disable-hover {
    background-color: transparent !important;
    // $gray-900 color from _variables.scss
    // https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_variables.scss#L17
    color: #212529 !important
  }
}

.digisquare-gauge {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 100px;
  background: lightgray;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: conic-gradient(from 270deg at 50% 100%, red, yellow, green, black, black, black);
}

.needle {
  height: 75px;
  width: 50px;
  position: absolute;
  top: 13px;
  left: 25px;
  border-radius: 50%;
  transition: all 3s;
}

.needle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 2.5px);
  height: 50%;
  width: 5px;
  background: black;
}
