// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.maturity-element {
  .list-group {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#product-list {
  @media only screen and (max-device-width: 768px) {
    .right-marker {
      border-right: 1px solid $gray-500;
    }

    .context-menu .btn:focus {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

#product-page {
  .ui-accordion .ui-accordion-content {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
  }

  #organization-list, #building-block-list, #sdg-list, #interop-list, #include-list, #project-list {
    @media only screen and (max-device-width: 768px) {
      .col-6 {
        padding-right: 0;
        &:nth-child(2n) {
          padding-right: $spacer;
        }
        &:nth-child(1), &:nth-child(2) {
          margin-top: 0 !important;
        }
      }
    }
  
    @media only screen and (min-device-width: 768px) {
      .col-md-4 {
        padding-right: 0;
        &:nth-child(3n) {
          padding-right: $spacer;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          margin-top: 0 !important;
        }
      }
    }
  }

  #sector-list {
    .col-6 {
      padding-right: 0;
      &:nth-child(2n) {
        padding-right: $spacer;
      }
      &:nth-child(1), &:nth-child(2) {
        margin-top: 0 !important;
      }
    }
  }
}

#digisquare-element {
  .dropdown-item {
    white-space: normal !important;
  }
  .dropdown-toggle {
    white-space: normal !important;
    text-align: left;
  }

  .disable-hover {
    background-color: transparent !important;
    // $gray-900 color from _variables.scss
    // https://github.com/twbs/bootstrap/blob/v4.3.1/scss/_variables.scss#L17
    color: #212529 !important
  }
}

.digisquare-gauge {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 100px;
  background: lightgray;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background: conic-gradient(from 270deg at 50% 100%, red, yellow, green, black, black, black);
}

.digisquare-gauge-small {
  position: relative;
  top: 5px;
  display: inline-block;
  height: 20px;
  width: 30px;
  background: lightgray;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: conic-gradient(from 270deg at 50% 100%, red, yellow, green, black, black, black);
}

.osc-small {
  position: relative;
  top: 5px;
  display: inline-block;
  height: 20px;
  width: 30px;
}

.digisquare-gauge-med {
  position: relative;
  top: 5px;
  display: inline-block;
  height: 30px;
  width: 50px;
  background: lightgray;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: conic-gradient(from 270deg at 50% 100%, red, yellow, green, black, black, black);
}

.osc-med {
  position: relative;
  top: 5px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.needle {
  height: 75px;
  width: 50px;
  position: absolute;
  top: 13px;
  left: 25px;
  border-radius: 50%;
  transition: all 3s;
}

.needle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(50% - 2.5px);
  height: 50%;
  width: 5px;
  background: #000000;
}

.selected-element {
  margin-right: 0.2rem;
}

.footer-padding {
  padding: 0.5rem 0.5rem 0.1rem 0.5rem !important;
}

.footer-row {
  min-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer-img {
  cursor: pointer;
  height: 25px;

  &-small {
    @extend .footer-img;
    height: 15px;
  }
}

.footer-img-right {
  float: right;
  height: 25px;
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

.origin-img-full {
  height: 50px;
}

.header-img {
  float: right;
  height: 20px;
  font-size: 20px;
}

.footer-score {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.65rem;
  cursor: default;
}

.osc-footer-score {
  font-size: 16px;
  font-weight: bold;
  margin-left: 0.4rem;
  cursor: default;
}

.footer-score-large {
  font-size: 22px;
  font-weight: bold;
  margin-left: 1.1rem;
  cursor: default;
}

.footer-source {
  font-size: 12px;
  font-weight: bold;
  position: relative;
  top: 0.4rem;
  display: inline-block;
}

.popover-image {
  height: 75px;
  padding: 0.5rem;

  &-small {
    @extend .popover-image;
    height: 50px;
  }
}

.card-image {
  width: 100%
}

.legend-img {
  width: 500px;
}

.maturity-tab {
  color: #495057 !important;
}

#agg-nav .accordion-expand-holder {
  margin:10px 0;
}

#agg-nav .accordion-expand-holder .open, #agg-nav .accordion-expand-holder .close {
  margin:0 10px 0 0;
}

#agg-nav .accordion-section {
  margin-bottom: 50px;
}

#agg-nav .ui-accordion .ui-accordion-content {
  padding: 0 0 0 1.8em;
  line-height: 0.7;
  overflow: auto;
}

#maturity-nav .ui-accordion .ui-accordion-content input[type="checkbox"] {
  margin: 0.3em;
}

#maturity-nav .ui-state-active, #agg-nav .ui-widget-content .ui-state-active {
  background: #6c757d !important;
  color: white !important;
}

#maturity-nav .ui-state-default, #agg-nav .ui-widget-content .ui-state-default {
  background: #e9ecef;
  color: #6c757d;
}

#maturity-nav .ui-accordion-header {
  color: #6c757d;;
}

#maturity-nav .ui-accordion-content{
  height:auto;
}

#maturity-nav .agg-badge{
  display:inline;
  margin-left: 5px;
}

@media only screen and (max-device-width: 768px) {
  .legend-img {
    width: 380px;
  }
}
