// Place all the styles related to the RubricCategories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show-rubric-category, #rubric-category-indicators {
  .ql-editor {
    min-height: 1rem !important;
    padding: 0 !important;
  }

  .ql-container {
    border: 0 !important;
  }
}

