.about-nav {
    position:fixed;
    top: 130px;
    right: 40px;
}

.side-element {
    width: 5px;
    height: 5px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    opacity: 0.3;
    transition: opacity .6s;
    cursor: pointer;
}

.nav-highlight {
    opacity: 1;
}