// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

#statistic-highlight {
  .col-md-3 {
    padding-right: 0;
    padding-bottom: ($spacer * .5);

    &:last-child {
      padding-right: $spacer;
    }
  }
}

@media only screen and (max-device-width: 768px) {
  #statistic-highlight {
    .col-md-3 {
      &:nth-child(2n) {
        padding-right: $spacer;
      }
    }
  }
}
