
<div class="row mt-2">
  <div class="col-12">
    <fieldset class="form-label-group">
      <%= text_field_tag "search-organizations", params[:search],
          placeholder: t('view.general.search'),
          class: "form-control" %>
      <%= label_tag "search-organizations", t('view.general.search') %>
    </fieldset>
  </div>
</div>
