<% if @organization.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains
      <%= pluralize(@organization.errors.count, "error") %>.
    </div>
  </div>
<% end %>
<h5 class="border rounded bg-secondary text-white p-3">
  Edit organization
</h5>
<%= render 'form', organization: @organization %>
