
<% if @organization.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @organization.errors.count) %>
      <% @organization.errors.each do |attr, err| %>
        <%= err %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3 original-font-size">
  <%= t('view.general.title.edit', model: t('model.organization')) %>
</div>
<%= render 'form', organization: @organization, can_view_mni: @can_view_mni %>
