<div id="map" class="map" style="height:640px;"></div>
<div id="popup" data-toggle="popover"></div>

<fieldset class="form-group float-right">
  <select id="sector" class="custom-select">
    <option value=-1>All sectors</option>
  </select>
</fieldset>

<script>
    mapObject.initMap();
</script>
