<% if @organization.errors.any? %>
  <div id="error_explanation">
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains
        <%= pluralize(@organization.errors.count, "error") %>.
      </div>
    </div>
  </div>
<% end %>
<div class="card">
  <h5 class="card-header">
    Create organization
  </h5>
  <%= render 'form', organization: @organization %>
</div>
