<div class='d-flex flex-column align-items-center justify-content-center' style='min-height: 50vh'>
  <i class="fas fa-exclamation-circle fa-3x py-4"></i>
  <p style='font-weight: 600; font-size: 1.125rem; line-height: 1.75rem'>404 - Page Not Found</p>
</div>
