<p class="card-text text-muted">
  <%= t('view.product.launch.auto-launch') %>
</p>

<div id="launchDiv" style="height:220px;"></div>
<%= content_tag :div, id: "jenkinsData", data: {jenkins_url: @jenkins_url, jenkins_user: @jenkins_user, jenkins_password: @jenkins_password, job_name: @product.slug} do %>
<% end %>

<script>
    launchData.initialize();
</script>