<% if @product.errors.any? %>
  <div id="error_explanation">
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains
        <%= pluralize(@product.errors.count, "error") %>.
      </div>
    </div>
  </div>
<% end %>
<div class="card">
  <div class="card-header">
    Edit product
  </div>
  <%= render 'form', product: @product %>
</div>
