<p class="text-danger"><%= flash[:error] %></p>
<% if @product.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @product.errors.count) %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3 original-font-size">
  <%= t('view.general.title.create', model: t('model.product')) %>
</div>
<%= render 'form', product: @product %>
