<% if @category_indicator.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t('view.general.error', count: @category_indicator.errors.count) %>
    </div>
  </div>
<% end %>
<div class="border rounded bg-secondary text-white p-3">
  <%= t('view.general.title.create', model: t('model.category-indicator')) %>
</div>
<%= render 'form', category_indicator: @category_indicator %>
