<% if @location.errors.any? %>
  <div id="error_explanation">
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains
        <%= pluralize(@location.errors.count, "error") %>.
      </div>
    </div>
  </div>
<% end %>
<div class="card">
  <h5 class="card-header">
    Edit location
  </h5>
  <%= render 'form', location: @location %>
</div>
