<!DOCTYPE html>
<html>
  <head>
    <title>Product Registry</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"
            integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"
          integrity="sha256-iq5ygGJ7021Pi7H5S+QAUXCPUfaBzfqeplbg/KlEssg="
          crossorigin="anonymous" />
    <style>
      .rotate-north {
        top: 65px;
        left: 0.5em;
      }
      .ol-touch .rotate-north {
        top: 80px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
